@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}

.Toastify__toast,
.Toastify__toast-body {
  font-family: inherit !important;
}

@theme {
    --color-primary: #5f6FFF;

    --grid-template-columns-auto: repeat(auto-fill, minmax(250px, 1fr));
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width:740px) {
    .active p {
        @apply text-white bg-primary
    }
}